Host project-monitor
  HostName github.com
  User git
  IdentityFile /var/lib/jenkins/.ssh/id_rsa_projectmonitor

Host dmg_opsworks_stacks
  Hostname github.com
  User git
  IdentityFile /var/lib/jenkins/.ssh/id_rsa_dmg_opsworks_stacks

Host phoenix
  HostName github.com
  User git
  IdentityFile /var/lib/jenkins/.ssh/id_rsa_phoenix

Host projectmonitor_chefrepo
  Hostname github.com
  User git
  IdentityFile /var/lib/jenkins/.ssh/id_rsa_projectmonitor_chefrepo

Host phoenix_chefrepo
  Hostname github.com
  User git
  IdentityFile /var/lib/jenkins/.ssh/id_rsa_phoenix_chefrepo
